h1 {
  color: blue;
  border: 1px solid;
  width: 400px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 21px;
}

li {
  display: inline;
    float: right;
    width: 95px;
    border: 1px solid;
    text-align: center;
      background-color: tomato;
      color: white;
}

li a {
  color: white;
}

.menu {
  color: black;
background: linear-gradient(to right, #ff6347 0%, #ffffff 100%);
}

.logo {
  font-size: 30px;
  color: tomato;
  float: left;
  height: 120px;
  border: 1px solid;
  padding: 10px;
  background: #ffffff;
}

.topnav {
  height: 142px;
  background: linear-gradient(to right, #ff6347 0%, #ffffff 100%);
}
