coinenv
coinenv/*
.git
.idea
__pycache__
node_modules
*/node_modules
sites
sites2
themes
Coin\ X.iml
*.iml
*.sql
docker/coinxlatest.sql
bot.log
trx.log
social.log
*.log
*/*.log
bot/benv
bot/users.json
*/users.json
.vscode
*/.vscode
*.map
*/*.map
analysis/*.html
static/analysis
.alarmist
documentation
fetch_db.sh
sync_db.sh
build_rest.sh
yarn-error.log
fetch_prices.sh

