.trx-mui-layout {
    min-height: 10vh!important;
}
.main-layout {
    display: -webkit-box!important;
    display: -moz-box!important;
    display: -ms-flexbox!important;
    display: -webkit-flex!important;
    display: flex!important;
    -webkit-flex-flow: nowrap!important;
}

#console div {
    width: 100%!important;
}
#console textarea {
    width: 100%!important;
    background-color: #333333!important;
    padding: 12px!important;
    color: #4fb6e1!important;
    font-family: Roboto, "Open Sans", sans-serif !important;
}

#console, #bot-panel, #analysis-panel {
    padding: 8px;
}

#TrxAppBar, #main-wrap header {
    background-color: #333333!important;
}

#number-container {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding-top: 2px;
    padding-left: 12px;
}

#market-select {
    width: 50%;
    display: inline-block;
}
