#main-wrap {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateY(35%);
}

#main-wrap > div {
  width: 35%;
  padding: 4px;
}

#main-wrap .welcome-text {
  margin-bottom:4px;
}

form#login-form > div {
  padding: 4px;
}

.register-button {
  margin-left: 4px;
  width: 84px;
}

.login-btn {
  margin: 10px;
  width: 84px;
  background-color: #E1E1E1;
}

.register-button:hover, .login-btn:hover {
  background-color: #62efff!important;
}
