#main-wrap {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateY(8.5%);
}

#main-wrap > div {
  width: 35%;
  padding: 24px;
}

#main-wrap .welcome-text {
  margin-bottom:4px;
}

form#login-form > div {
  padding: 4px;
}

.register-button {
  margin-left: 4px;
  width: 84px;
}

.login-btn {
  margin: 10px;
  width: 84px;
  color: #000!important;
  background-color: #FFF!important;
}

.register-button:hover, .login-btn:hover {
  background-color: #62efff!important;
}

input#name, input#password {
  height: 32px;
}

.error-container {
  align-items: center;
}

.error-container > div {
  width: 100%;
  text-align: center;
}

.login-error svg {
  padding: 16px;
}

.error-close-action {
  display: block!important;
}

/* Mobile ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 500px) {

  #main-wrap > div {
    width: 65%;
  }

  input {
    height: 48px!important;
    font-size: 22pt!important;
  }

  .trx-logo {
    height: 124px!important;
  }

  .welcome-text {
    font-size: 3em!important;
  }

  .checkbox-label > span {
    font-size: 18pt;
  }

  .forgot-btn, .login-btn, .register-button {
    font-size: 18pt!important;
    height: 64px!important;
    width: 224px!important;
    border-radius: 24px!important;
  }

  .register-button {
    margin-left: 16px!important;
  }

}