.trx-mui-layout {
    min-height: 10vh!important;
}
.app-bar-icons {
    float: right;
    display: inline-block;
}
.app-bar-icon {
    /* padding: 4px; */
    display: inline!important;
}
.trx-appbar-nav {
    width: 100%;
}

.TrxAppBar h1 {
    width: 100%!important;
    text-align: right;
}
.trx-logo-button {
    max-height: 64px!important;
    padding: 0!important;
}

#trx-nav-paragraph a {
    font-size: 14pt;
}
.appbar {
    /* background-color: #333!important; */
    background-color: #021c21!important;
}