body {
    margin: 0!important;
    background-color: #021c21!important;
    font-family: Roboto, Arial!important;
}

#container {
    width: 100%;
}

#main-wrap {
    overflow-x: hidden!important;
}

.trx-mui-layout {
    min-height: 10vh!important;
}
#trade-left {
    float: left;
    /* max-width: 33.9%; */
    background-color: #333333;
}
#trade-right {
    float: right;
    /* max-width: 65.6%; */
    background-color: #333333;
}
.app-bar-icon {
    float: right;
}

.trx-appbar-nav {
    width: 100%;
}

.TrxAppBar h1 {
    width: 100%!important;
    text-align: right;
}

.react-grid-Canvas .react-grid-Cell, #trade-left, #trade-right {
    background-color: #333333!important;
    color: #ffffff!important;
}

.react-grid-Canvas {
    overflow-x: hidden!important;
    overflow-y: scroll!important;
}

::-webkit-scrollbar {
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 6px;
    background-color: #021c21!important;
}
::-webkit-scrollbar-track {
    border: none;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: #FFF;
    border-radius: 4px;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.react-grid-Viewport {
    max-width: 98%;
    overflow: inherit!important;
}

.react-stockchart text {
    fill: #ffffff!important;
}

#trade-dialog {
    max-width: 100%;
}

.panel {
    min-height: 24px!important;
    max-height: 24px!important;
    margin: 0;
}

.panel p {
    font-size: 0.775rem;
    padding-left: 4px;
}

.react-grid-Container, .trxToolWrap {
    width: 100%!important;
}

.react-grid-HeaderRow {
    width: 100%!important;
    overflow-y: hidden!important;
}

.react-grid-HeaderCell {
    background-color: #4a4a4a!important;
    font-weight: 700;
    color: #FFF;
    line-height: 1.5;
    border: 1px solid black;
}

.react-grid-Row:first-child > .react-grid-Cell {
    background-color: rgb(26, 196, 26)!important;
    color: #333333;
    border: 1px solid black;
}

.react-grid-Row:hover .react-grid-Cell {
    background-color: #8f8f8f!important;
}

.react-grid-Row--even:hover > .react-grid-Cell, .react-grid-Row--odd:hover > .react-grid-Cell  {
    background-color: #8f8f8f!important;
    color: #3f5c5e!important;
}

.react-grid-Cell {
    border: 1px solid black;
    outline: none;
}
.react-grid-Cell:focus {
    outline: none!important;
    border: 0!important;
    box-shadow: 0!important;
}

.trxToolWrap {
    padding: 12px!important;
    font-family: 'Roboto';
}

.textField {
    font-size: 12pt!important;
}

.console-out {
    width: 97.5%!important;
    margin: 0 24px 0 24px!important;
}
.console-out div {
    color: rgb(0, 255, 0);
    font-size: 10pt;
    padding: 6px 4px 7px;
}

.datePicker, .textField {
    margin-top: 4px!important;
}

.filledDatePicker, .filledTextField {
    background-color: rgba(26, 196, 26, 0.27)!important;
    margin-top: 4px!important;
}

.submitButton {
    opacity: 0.7;
    border-radius: 4px;
    border-radius: 16px!important;
    min-width: 72px!important;
    font-size: 14pt!important;
    font-weight: 700;
    color: #FFF;
}

.submitButton:hover {
    opacity: 1;
}

.submitButton > span {
    font-size: 12pt;
}

.keylabel > label + div {
    width: 100%;
    padding: 2px;
}

.keydialog {
    margin: 24px!important;
}

.btn-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.key-edit:hover {
    background-color: rgba(255, 255, 255, 0.1)!important;
}

.keydialog > div > div {
    max-width: 1000px!important;
}

.key-btn:hover {
    background-color: #b64520!important;
}


/* Mobile ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 500px) {

    #main-wrap div:nth-child(2) {
        flex-direction: column;
        align-content: center;
    }

    #main-wrap div:nth-child(2) > div {
        max-width: 100%;
        width: 100%;
    }
}