#container {
    width: 100%;
}

.trx-mui-layout {
    min-height: 10vh!important;
}

.user-photo {
    min-width: 0!important;
    width: 20em!important;
    max-width: 20em!important;
    padding-bottom: 5em!important;
}

.userimage-file {
    display: none;
}

.user-form {
    background-color: rgb(48, 48, 48);
    padding: 12px;
    display: flex;
    justify-content: center;
}

.user-save-btn {
    max-height: 35px;
}
.app-bar-icons {
    float: right;
    display: inline-block;
}

.app-bar-icon {
    /* padding: 4px; */
    display: inline!important;
}

.trx-appbar-nav {
    width: 100%;
}

.TrxAppBar h1 {
    width: 100%!important;
    text-align: right;
}

/*.user-key-grid {*/
    /*min-height: 3em!important;*/
/*}*/

/*.react-grid-Grid {*/
    /*min-height: 5em!important;*/
/*}*/

.btc-key-btn-wrap {
    float: right!important;
    margin: 0;
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
}



.estimated-value hr {
    display: none;
}



.react-grid-HeaderRow {
    overflow: hidden!important;
}

.react-grid-Canvas, .react-grid-Grid {
    background-color: #424242!important;
}

.key-grid .react-grid-Row:first-child > .react-grid-Cell {
    background-color: #333!important;
    color: #E1E1E1!important;
}

.key-grid .react-grid-Row:hover > .react-grid-Cell {
    color: #3f5c5e!important;
    background-color: #8f8f8f!important;
}


.datepicker, .datepicker > button, .datepicker > div {
    display: inline-block;
}

.timezone-picker {
    width: 19em;
    margin-top: 10px;
    background-color: #424242!important;
}

.timezone-picker-list-item, .timezone-picker-textfield input {
    background-color: #424242!important;
    color: #FFF!important;
}

.timezone-picker-list-item-active, .timezone-picker-list-item:hover {
    background: #E1E1E1!important;
    color: #424242!important;
}

.timezone-picker-open .timezone-picker-list {
    position: absolute;
    z-index: 1000;
}

#timezone-container {
    margin-bottom: 8px;
    justify-content: center;
}

.timezoneNumFilled, .timezoneNum {
    margin-left: 4px!important;
}

.text-container {
    display: flex;
    justify-content: center;
}

.balance-wrap {
    width: 25%;
}

.userform-separator {
    border: 1px rgb(0, 151, 167);
    border-bottom: 2px solid;
    bottom: 8px;
    box-sizing: content-box;
    /* margin: 12px; */
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.user-snackbar, .user-snackbar div {
    background: rgb(0, 151, 167)!important;
}

.user-snackbar span {
    color: #333333!important;
    font-weight: 700!important;
}

.react-grid-Canvas .react-grid-Cell, #trade-left, #trade-right {
    background-color: #333333;
}

.timezoneNum {
    width: 5%!important;
}

.key-edit {
    background-color: #424242!important;
}

.keydialog, .keylabel {
    padding: 4px!important;
    margin: 8px!important;
    display: flex!important;
    align-content: center!important;
    justify-content: center!important;
    align-items: center!important;
}

.key-dialog-paper {
    padding: 4px!important;
    margin: 8px!important;
}

.keybtn {
    max-width: 35%!important;
    max-height: 32px;
    margin: 4px!important;
}

.expiry-btn {
    max-width: 35%!important;
    max-height: 64px!important;
    padding: 4px!important;
}

.key-container {
    width: 100%!important;
    align-items: center!important;
    justify-content: center!important;
}

.react-grid-Main, .react-grid-Grid {
    background-color: #333!important;
}