#container {
    width: 100%;
}

.trx-mui-layout {
    min-height: 10vh!important;
}

.user-photo {
    min-width: 0!important;
    width: 20em!important;
    max-width: 20em!important;
    padding-bottom: 5em!important;
}

.userimage-file {
    display: none;
}

.user-form {
    background-color: rgb(48, 48, 48);
}

.app-bar-icons {
    float: right;
    display: inline-block;
}

.app-bar-icon {
    /* padding: 4px; */
    display: inline!important;
}

.trx-appbar-nav {
    width: 100%;
}

.TrxAppBar h1 {
    width: 100%!important;
    text-align: right;
}

/*.user-key-grid {*/
    /*min-height: 3em!important;*/
/*}*/

/*.react-grid-Grid {*/
    /*min-height: 5em!important;*/
/*}*/

.btc-key-btn-wrap {
    float: right!important;
    margin: 0;
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
}
.user-form {
    padding-bottom: 12px;
}
.userform:last-of-type {
    margin-bottom: 12px;
}

.react-grid-HeaderRow {
    overflow: hidden!important;
}

.datepicker, .datepicker > button, .datepicker > div {
    display: inline-block;
}