
/******************
** LOGIN FORM **
 *****************/

#trx-login-nav {
    -webkit-padding-start: 16px;
}

.login-welcome h3 {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  -webkit-box-direction: normal;
}

#trx-login-nav h2 {
  text-align: justify;
  line-height: 2;
  text-indent: 50px;
  font-family: 'Lato', sans-serif;
  color: #177357;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 8px;
  position: relative;
}

.login-end h2 {
  text-align: justify;
  letter-spacing: 0.6px;
  line-height: 2;
  font-weight: 300;
  text-indent: 50px;
  font-family: 'Lato', sans-serif;
}

.tabs.primary {
    -webkit-padding-start: 0;
}

li.tab {
  display: inline-block;
}

li.tab a {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  padding: 0.6em 1em;
  border: 2px solid rgba(0, 218, 79, 0.35);
  color: #3d3d3d;
  text-transform: uppercase;
  font-size: 0.8em;
  transition: background-color 1000ms linear;
}

li.tab a:hover {
    background: rgba(0, 218, 79, 0.35);
    font-weight: 700;
    color: #FFFFFF;
}

.user-login-form {
    padding: 10px;
}


#login-name, #login-pass {
    border: 1px solid #CDCDCD;
    max-width: 100%;
    padding: .5em;
}

.login-name-label,
.login-pass-label {
    -webkit-box-direction: normal;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    cursor: default;
    display: block;
    font-size: .8rem;
    margin-right: 1em;
    text-transform: uppercase;
}

#login-name-description,
#login-pass-description {
    display: block;
    -webkit-box-direction: normal;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 0.85em;
}

#login-submit {
    padding: 12px 30px;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 0.9rem;
    color: #666666;
    border: 3px solid #177357;
    background-color: white;
    margin: 0;
}

#login-submit:hover {
    background-color: #EEEEEE;
}


/******************
** REGISTRATION FORM **
 *****************/

#trx-register-nav {
    -webkit-padding-start: 16px;
}

.register-welcome h3 {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    -webkit-box-direction: normal;
}

#trx-register-nav h2 {
    text-align: justify;
    line-height: 2;
    text-indent: 50px;
    font-family: 'Lato', sans-serif;
    color: #73410a;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 8px;
    position: relative;
}

.register-end h2 {
    text-align: justify;
    letter-spacing: 0.6px;
    line-height: 2;
    font-weight: 300;
    text-indent: 50px;
    font-family: 'Lato', sans-serif;
}

.tabs.primary {
    -webkit-padding-start: 0;
}

li.tab {
    display: inline-block;
}


.user-register-form {
    padding: 10px;
}


#register-name, #register-pass, #register-email {
    border: 1px solid #CDCDCD;
    max-width: 100%;
    padding: .5em;
}

.register-name-label,
.register-pass-label,
.register-email-label {
    -webkit-box-direction: normal;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    cursor: default;
    display: block;
    font-size: .8rem;
    margin-right: 1em;
    text-transform: uppercase;
}

#register-name-description,
#register-pass-description,
#register-email-description {
    display: block;
    -webkit-box-direction: normal;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 0.85em;
}

#register-submit {
    padding: 12px 30px;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 0.9rem;
    color: #666666;
    border: 3px solid #177357;
    background-color: white;
    margin: 0;
}

#register-submit:hover {
    background-color: #EEEEEE;
}

.bar:hover, .bar:focus {
    fill: black;
}

.bar {
    fill: #876e9f;
}

.bar a:focus {
    fill: red;
    fill-opacity: 0.5;
    outline: none;
}

.bar circle {
    fill: purple;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}