<html>
    <head>
        <link rel="stylesheet" href="/static/styles.css" />
        <title>{{ title }}</title>
    </head>
    <body>
        <script src="/static/js/d3/d3.min.js">console.log('test');</script>
        <script src="/static/js/graph.js">console.log('this is a test');
        </script>

        <div class="graph-welcome"><h3>Check these bitching graphs, bitch</h3></div>

        <h4>Last traded price by currency (adjusted for EUR)</h4>
        <div id="trx-graph">
        </div>

    </body>
    <script>
        TRXDATA.data = "{% raw data %}";
    </script>
</html>