<html>
    <head>
        <script src="/static/jquery-3.2.1.min.js"></script>
        <link rel="stylesheet" href="/static/styles.css" />
        <link rel="stylesheet" href="{{ static_url("heartbeat.css") }}" />
        <title>{{ title }}</title>
    </head>
    <body>
        <div class="container="></div>
        <div class="heartbeat-stream">
            {% for heartbeat in heartbeats %}
            <div class="heartbeat-message">
                <div class="heartbeat-message-wrap">
                    <div class="heartbeat-owner">
                        <a href="/user/{{ heartbeat['user']['uid'] }}"><img src="/{{ heartbeat['user']['img'] }}" />
                            {{ heartbeat['user']['name'] }}
                        </a>
                        <div class="time-ago">{{ heartbeat['timeago'] }}</div>
                    </div>

                    <div class="heartbeat-content hid-{{ heartbeat['id'] }}">
                        {% raw heartbeat['message'] %}
                    </div>
                </div>
                <div class="heartbeat-comment-button">
                    {% if heartbeat['commentcount'] > 1 %}
                    {{ heartbeat['commentcount'] }} comments
                    {% elif heartbeat['commentcount'] == 1 %}
                    {{ heartbeat['commentcount'] }} comment
                    {% else %}
                    Comment
                    {% end %}
                </div>
                <div class="heartbeat-comment">
                    <div class="heartbeat-comments">
                        <form class="heartbeat-comment-form" action="/" method="post" id="heartbeat-comment-form-{{ heartbeat['id'] }}" accept-charset="UTF-8">
                            <div class="js-form-item-comment-body">
                                <label for="edit-comment-body-{{ heartbeat['id'] }}">Comment Body</label>
                                <div>
                                    <textarea id="edit-comment-body-{{ heartbeat['id'] }}" name="comment_body" rows="5" cols="60" class="form-textarea"></textarea>
                                </div>
                            </div>
                            <input type="submit" id="edit-post-{{ heartbeat['id'] }}" name="op" value="Submit" class="button js-form-submit form-submit">
                        </form>
                            {% for comment in heartbeat['comments'] %}
                            <div id="heartbeat-comment-{{ comment['cid'] }}">
                                <span class="comment-owner">
                                  <span class="comment-username">{{ comment['user'].name }}</span><br>
                                  <span class="comment-ago">{{ comment['timeago'] }}</span>
                                </span>
                                <span class="comment-body">{{ comment['body'].comment_body_value }}
                                  <div class="comment-like">COMMENT LIKE</div>
                                </span>
                                <span class ="sub-comment">
                                {% for subcomment in comment['subcomments'] %}
                                    <div class="heartbeat-subcomment" id="sub-comment-{{ subcomment['cid'] }}">
                                        <span class="sub-comment-owner">{{ subcomment['user'].name}}
                                          <span class="sub-comment-username">{{ subcomment['user'].name }}</span><br>
                                          <span class="sub-comment-ago">{{ subcomment['timeago'] }}</span>
                                        </span>
                                        <span class="sub-comment-body">{{ subcomment['body'].comment_body_value }}
                                          <div class="sub-comment-like">SUB COMMENT LIKE</div>
                                        </span>
                                    </div>
                                {% end %}
                                    <a href="/heartbeat/subcommentrequest/{{ comment['cid'] }}" class="button comment-reply">Reply</a>
                                </span>
                            </div>
                            {% end %}
                        </div>
                    </div>
            </div>
            {% end %}
            <div id="heartbeat-friendship-action"></div>
        </div>
        <script src="{{ static_url("jquery.colorbox-min.js") }}"></script>
        <script src="{{ static_url("jquery.touchSwipe.min.js") }}"></script>
        <script src="{{ static_url("heartbeat.js") }}"></script>
    </body>
</html>