<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% raw title %}</title>
    <link rel="stylesheet" href="/static/css/tx-bar.css" />
    <link rel="stylesheet" href="/static/css/tx-style.css" />
    <link rel="stylesheet" href="/static/css/login.css" />
    <link href="static/css/roboto.css" rel="stylesheet">
    <link href="static/css/materialicons.css" rel="stylesheet">
    <script defer src="static/js/fontawesomeall.js"></script>
</head>
<body>
<script>
	const trxMessages = JSON.parse("{% raw messages %}".replace(/'/g, '"'))
</script>
<div id="root">
</div>
<script src="/static/js/login-ui-bundle.js"></script>
</body>
</html>
