<html>
<head>
    <link rel="stylesheet" href="{{ static_url("styles.css") }}" />
    <title>{{ title }}</title>
</head>
<body>


    <div class="login-welcome"><h3>Please Login or GTFO</h3></div>
    <div id="trx-login-nav">
        <nav class="tabs" role="navigation" aria-label="Tabs">
            <h2>Be Cool</h2>
            <ul class="tabs primary">
                <li class="tab"><a href="/user/login">Log in</a></li>
                <li class="tab"><a href="/user/register">Create new account</a></li>
                <li class="tab"><a href="/user/password">Reset your password</a></li>
            </ul>
        </nav>
    </div>

    <div class="login-end">
        <h2>Login motherfucker</h2>
    </div>

</body>
</html>