<html>
<head>
    <link rel="stylesheet" href="{{ static_url("styles.css") }}" />
    <title>{{ title }}</title>
</head>
<body>


    <div class="login-welcome"><h3>Please Login or GTFO</h3></div>
    <div id="trx-login-nav">
        <nav class="tabs" role="navigation" aria-label="Tabs">
            <h2>{{ message }} </h2>
            <ul class="tabs primary">
                <li class="tab"><a href="/user/login">Log in</a></li>
                <li class="tab"><a href="/user/register">Create new account</a></li>
                <li class="tab"><a href="/user/password">Reset your password</a></li>
            </ul>
        </nav>
        <div class="user-login-form block-kek-custom block-kekloginblock" data-drupal-selector="user-login-form" id="block-kekloginblock">

            <form method="post" id="login-form" accept-charset="UTF-8">
                <div class="user-login-form">
                    <label for="login-name" class="login-name-label">Username</label>
                    <input autocorrect="none" autocapitalize="none" spellcheck="false" autofocus="autofocus" type="text" id="login-name" name="name" value="" size="60" maxlength="60" class="login-form-text" required="required" aria-required="true">

                    <div id="login-name-description" class="description">
                        Enter your CoinTRX Username
                    </div>
                </div>
                <div class="user-login-form">
                    <label for="login-pass" class="login-pass-label">Password</label>
                    <input type="password" id="login-pass" name="pass" size="60" maxlength="128" class="login-pass" required="required" aria-required="true">
                    <div id="login-pass-description" class="description">
                        Enter your Password
                    </div>
                </div>
                <div class="user-login-form" id="edit-actions">
                    <input type="submit" id="login-submit" name="op" value="Log in" class="login-form-submit">
                </div>
            </form>
        </div>
    </div>

    <div class="login-end">
        <h2>Login motherfucker</h2>
    </div>

</body>
</html>