<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% raw title %}</title>
    <link rel="stylesheet" href="/static/css/tx-bar.css" />
    <link rel="stylesheet" href="/static/css/tx-style.css" />
    <link href="static/css/roboto.css" rel="stylesheet">
    <link href="static/css/materialicons.css" rel="stylesheet">
    <script defer src="static/js/fontawesomeall.js"></script>
</head>
<body>
<script>
    const trxPrices = "{% raw trx_prices %}"
    const trxTrades = "{% raw trade_data %}"
    const userData = "{% raw user_data %}".substr(1).slice(0, -1).replace(/True/g, 1)
    const activeBids = "{% raw bids %}"
    const activeOffers = "{% raw offers %}"
</script>
<div id="root">
</div>
<script src="/static/js/trade-ui-bundle.js"></script>
</body>
</html>
