<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/tx-style.css" />
    <script src="/static/jquery-3.2.1.min.js"></script>
</head>
<body>
<script>
    const txUrl = "{% raw tx_url %}"
    const blockgenUrl = "{% raw blockgen_url %}"
    const userBalanceUrl = "{% raw userbalance_url %}"
    const trxPrices = "{% raw trx_prices %}"
</script>

<div id="root">
</div>
<script src="/static/js/tx-ui-bundle.js"></script>
</body>
</html>